html {
    box-sizing: border-box;
    
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /*---- Utility Styles ----*/
  .container{
    width: 80vw;
    margin: 40px auto;
    max-width: 900px;}

  
  /*---- Responsive Images ----*/
  
  img{
    max-width: 100%;
      height: auto;
  }
  
  /*---- Global Styles ----*/
  
  body{
    font-family: "roboto", sans-seref;
    margin: 0;
  }
  
  header.primary{

    text-align: center;
    color: ffffff;
    padding: 6em 2em;
    position: relative;
  }
  
  header.primary::before {
    content:"";
    background-image: url(../img/dragoncrew.8k.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .48;
  }
  
  header.primary h1{
    font-size: 3.2rem;
    margin: 20px 0;
    position: relative;
  }
  header.primary h1 a {
    color:ffffff;
    background-image:url("../img/SpaceX-Logo.png");
    display: block;
    width: 459px;
    height: 70px;
    margin:0 auto;
    text-indent:100%;
    white-space: nowrap;
    overflow: hidden;
  }
  header.primary h2 {
    font-family: "roboto";
      font-size: 2em;
    margin: 20px auto 40px;
    position: relative;
    
  }
  header.primary nav {
    max-width: 900px;
    margin: 20px auto;
  }
  
  header.primary ul {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  header.primary ul li {
    list-style-type: none;
  }
  
  header.primary nav a {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 7.5px 10px;
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    transition: 0.4s;
  }
  
  header.primary nav a:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  #content {
  padding: 4em 0;
}
#content h2{
  font-family: "roboto";
  font-size: 2.2em;
  color: #339498;
  text-align: center;
  
}

/*--------- hero ---------*/

#slideshow{
  padding:4em 0;
}



  
  
  
  
  
  
  
  