header.primary { 
    /* background-image: url("../dragon_2_hover_test.jpg");
    background-repeat: repeat; */
    max-width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 75px;
  padding-right: 75px;
  padding-bottom: 75px;
  padding-left: 75px;
  text-align: center;
}

header.primary .bg {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;

}

header.primary .hgroup {
  position: relative;
  top: 0;
}

    header.primary h1 {
        font-size: 8.4rem;
        margin: 20px 0 0;
        font-family: "Space Grotesk", sans-serif;
  
}

header.primary h2 {
    font-size:3.4rem;
    margin: 0;
}

.tabs-container nav {
    max-width: 900px;
    margin: 20px auto;
  }
  
  .tabs-container nav ul {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .tabs-container ul li {
    list-style-type: none;
  }
  
  .tabs-container nav a {
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 7.5px 10px;
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    transition: 0.4s;
  }
  
  .tabs-container nav a:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .configurations.h1










  
  